<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:aop="http://www.springframework.org/schema/aop"      
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<!-- 声明自动为spring容器中那些配置@Aspect切面的bean创建代理织入切面 -->
	<aop:aspectj-autoproxy/> 
	<bean id="myInterceptor" class="com.spring.interceptor.MyInterceptor"></bean>
	<bean id="personServiceBean" class="com.spring.service.impl.PersonServiceBean"></bean>
</beans>