<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
           
	<bean id="personDao" class="com.spring.dao.impl.PersonDaoBean"></bean>

	<bean id="personService1" class="com.spring.service.impl.PersonServiceBean">
		<!-- 
			依赖注入：使用构造器注入
		-->
       	<constructor-arg index="0" type="com.spring.dao.PersonDao" ref="personDao"/>
       	<constructor-arg index="1" value="Tom"/>  	
	</bean>
	
	<bean id="personService2" class="com.spring.service.impl.PersonServiceBean">
       	<constructor-arg index="0" type="com.spring.dao.PersonDao">
       		<bean class="com.spring.dao.impl.PersonDaoBean"/>
       	</constructor-arg>
       	<constructor-arg index="1" value="Jerry"/>  	
	</bean>
</beans>